    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <ul class="list-inline">
                            <h3>Kontaktujte nás</h3>
                            <li><a href="mailto:" class="btn-social btn-outline"><i class="fa fa-fw fa-envelope-o"></i></a></li>
                            <li><a href="//facebook.com/" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a></li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3></h3>
                        <p></p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>{{ site.title }}</h3>
                        <p>U Továren 261/27</p>
                        <p>102 00   Praha 10</p>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        2015 &copy; <a href="mailto:pdostal@pdostal.cz/">Pavel Dostál</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
