
    <!-- Portfolio Grid Section -->
    <section id="ke_stazeni">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Ke stažení</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 portfolio-item text-center">
                    <span class="fa fa-file-text fa-5x"></span>
                    <h3>Plná moc</h3>
                </div>
                <div class="col-sm-6 portfolio-item text-center">
                    <span class="fa fa-file-text fa-5x"></span>
                    <h3>Prohlášení o obalech</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 portfolio-item text-center">
                    <span class="fa fa-file-text fa-5x"></span>
                    <h3>Výpis OR</h3>
                </div>
                <div class="col-sm-6 portfolio-item text-center">
                    <span class="fa fa-file-text fa-5x"></span>
                    <h3>Poštovní zásilky</h3>
                </div>
            </div>
        </div>
    </section>
