 <!-- About Section -->
    <section class="success" id="o_nas">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>O nás</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Dovážíte nebo vyvážíte zboží z/do třetí země? Nevíte si rady s náležitostmi pro hladký a spolehlivý průběh <b>celního odbavení</b>? Již 18 let se zabývám touto problematikou. Zajišťuji kompletní servis v <b>celním řízení</b>.</p>
                </div>
                <div class="col-lg-4">
                    <p>Mou prioritou je celní odbavení kontejnerových zásilek pro zákazníky z celé ČR na terminále v Praze, kamionové přepravy (celovozy i sběráky), letecké zásilky ale i maličké zásilky přepravovány <b>celní poštou</b>.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Pokud obchodujete pouze v rámci EU, zajišťuji i zpracování <b>INTRASTATU</b>.</p>
                    <p>Vzhledem k tomu, že v této profesi spoléhám pouze sama na sebe, je zohledněna i cena za poskytnuté služby.</p>
                </div>
                <div class="col-lg-4">
                    <p>Neváhejte mne kdykoliv kontaktovat, bude pro mne potěšením poradit, vysvětlit a následně zajistit vše pro celní odbavení Vašich zásilek v nejlepší kvalitě a v nejkratším čase.</p>
                </div>
            </div>
        </div>
    </section>
